<mat-toolbar color="primary">
  <span>Insert one-on-one</span>
  <span fxFlex></span>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content>
  <section fxLayout="column" fxFlex="calc(90vw - 96px)" fxFlex.gt-xs="25rem">
    <mat-form-field appearance="outline">
      <mat-label>Is Leader?</mat-label>
      <mat-select #isLeader>
        <mat-option *ngFor="let option of options" [value]="option">
          {{option ? 'Yes' : 'No'}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Cowoker</mat-label>
      <mat-select #coworkerId>
        <mat-option *ngFor="let coworker of employees" [value]="coworker.id">
          {{coworker.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Frequency</mat-label>
      <mat-select #frequency>
        <mat-option *ngFor="let frequency of frequencies" [value]="frequency">
          {{frequency | frequency}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </section>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="end center" class="gap-xs">
  <button mat-button (click)="isLeader.value = null; coworkerId.value = null; frequency.value = null;">
    <mat-icon>clear_all</mat-icon>
    Clear
  </button>
  <button mat-raised-button color="primary" cdkFocusInitial
    (click)="insertOneonone(isLeader.value, coworkerId.value, frequency.value)">
    <mat-icon>add</mat-icon>
    Insert
  </button>
</mat-dialog-actions>