<mat-toolbar color="primary">
  <span>Insert one-on-one</span>
  <span fxFlex></span>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content>
  <form id="oneonone-insert-form" (ngSubmit)="insertOneonone()" [formGroup]="form" fxLayout="column"
    fxFlex="calc(90vw - 96px)" fxFlex.gt-xs="25rem">
    <mat-form-field appearance="outline">
      <mat-label>Is Leader?</mat-label>
      <mat-select formControlName="isLeader">
        <mat-option *ngFor="let isLeader of [true, false]" [value]="isLeader">
          {{isLeader ? 'Yes' : 'No'}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('isLeader')?.hasError('required')">Required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Cowoker</mat-label>
      <mat-select formControlName="coworker">
        <mat-option *ngFor="let coworker of employees" [value]="coworker">
          {{coworker.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('coworker')?.hasError('required')">Required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Frequency</mat-label>
      <mat-select formControlName="frequency">
        <mat-option *ngFor="let frequency of frequencies" [value]="frequency">
          {{frequency | frequency}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('frequency')?.hasError('required')">Required.</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="end center" class="gap-xs">
  <button mat-button (click)="clear()">
    <mat-icon>clear_all</mat-icon>
    Clear
  </button>
  <button form="oneonone-insert-form" mat-raised-button color="primary" cdkFocusInitial>
    <mat-icon>add</mat-icon>
    Insert
  </button>
</mat-dialog-actions>