<mat-card>
  <ng-container *ngIf="employee.id !== oneonone.leader.id">
    <h6 class="mat-caption">Leader</h6>
    <h3 class="mat-h3">{{oneonone.leader.name}}</h3>
  </ng-container>
  <ng-container *ngIf="employee.id !== oneonone.led.id">
    <h6 class="mat-caption">Led</h6>
    <h3 class="mat-h3">{{oneonone.led.name}}</h3>
  </ng-container>
  <h6 class="mat-caption">Frequency</h6>
  <h3 class="mat-h3">{{oneonone.frequency | frequency}}</h3>
  <ng-container *ngIf="oneonone.frequency !== 999">
    <h6 class="mat-caption">Last Meeting</h6>
    <h3 class="mat-h3">{{oneonone.status.lastMeeting | date: 'dd/MM/yyyy'}}</h3>
    <h6 class="mat-caption">Next Meeting</h6>
    <h3 class="mat-h3">{{oneonone.status.nextMeeting | date: 'dd/MM/yyyy'}}</h3>
    <h6 class="mat-caption">Is Late?</h6>
    <h3 class="mat-h3">{{oneonone.status.isLate ? 'Yes' : 'No'}}</h3>
  </ng-container>
  <mat-divider></mat-divider>
  <h6 class="mat-caption">Meetings</h6>
  <ng-container *ngFor="let meeting of oneonone.meetings">
    <h6 class="mat-caption">Meeting Date</h6>
    <h3 class="mat-h3">{{meeting.meetingDate | date: 'dd/MM/yyyy'}}</h3>
    <h6 class="mat-caption">Annotation</h6>
    <h3 class="mat-h3">{{meeting.annotation}}</h3>
  </ng-container>
</mat-card>