<section fxLayout="column" fxLayoutGap="1rem" fxLayoutAlign="start center">
  <button mat-stroked-button color="primary" (click)="insertOneonone()">Insert</button>
  <section fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="center start" fxLayoutAlign.lt-md="center stretch"
    fxLayoutGap="1rem" fxFlexAlign="stretch">
    <ng-container *ngFor="let oneonone of oneonones">
      <app-oneonone-list-item fxFlex="100" fxFlex.gt-md="50rem" [employee]="employee"
        [oneonone]="oneonone"></app-oneonone-list-item>
    </ng-container>
  </section>
</section>