<section fxLayout="column" fxLayoutAlign="start stretch" class="gap-sm">
  <section fxLayout="row wrap" fxLayoutAlign="center center" class="gap-sm">
    <button mat-stroked-button color="accent" routerLink="/">
      <mat-icon>keyboard_return</mat-icon>
      Return
    </button>
    <button mat-stroked-button color="primary" (click)="insertMeeting()">
      <mat-icon>add</mat-icon>
      Insert meeting
    </button>
  </section>
  <section fxLayout="row" fxLayoutAlign="center center">
    <mat-card fxFlex="100" fxFlex.gt-sm="35rem">
      <section fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="1rem">
        <div fxFlex="100" fxFlex.gt-xs="70" *ngIf="employee.id !== oneonone.leader.id">
          <h6 class="mat-caption">Leader</h6>
          <h3 class="mat-h3">{{oneonone.leader.name}}</h3>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="70" *ngIf="employee.id !== oneonone.led.id">
          <h6 class="mat-caption">Led</h6>
          <h3 class="mat-h3">{{oneonone.led.name}}</h3>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="30">
          <h6 class="mat-caption">Frequency</h6>
          <h3 class="mat-h3">{{oneonone.frequency | frequency}}</h3>
        </div>
      </section>
    </mat-card>
  </section>
  <section fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutAlign="start stretch" fxLayoutAlign.gt-sm="center start"
    class="gap-sm">
    <ng-container *ngFor="let meeting of oneonone.meetings">
      <app-oneonone-meeting-list-item fxFlex="100" fxFlex.gt-sm="35rem" [meeting]="meeting">
      </app-oneonone-meeting-list-item>
    </ng-container>
  </section>
</section>