<mat-card>
  <section fxLayout="column">
    <div fxFlex="100">
      <h6 class="mat-caption">Meeting Date</h6>
      <h3 class="mat-h3">{{meeting.meetingDate | date: 'dd/MM/yyyy'}}</h3>
    </div>
    <div fxFlex="100">
      <h6 class="mat-caption">Annotation</h6>
      <h3 class="mat-h3">{{meeting.annotation}}</h3>
    </div>
  </section>
  <footer fxLayout="row wrap" fxLayoutAlign="end center" class="gap-xs">
    <button mat-button color="warn" (click)="deleteMeeting()">Delete</button>
    <button mat-button color="accent" (click)="updateMeeting()">Update</button>
  </footer>
</mat-card>