<mat-card>
  <section fxLayout="column">
    <div fxFlex="100">
      <h6 class="mat-caption">Meeting Date</h6>
      <h3 class="mat-h3">{{meeting.meetingDate | date: 'dd/MM/yyyy'}}</h3>
    </div>
    <div fxFlex="100">
      <h6 class="mat-caption">Annotation</h6>
      <h3 class="mat-h3">{{meeting.annotation}}</h3>
    </div>
  </section>
  <mat-card-actions fxLayout="row wrap" fxLayoutAlign="end center" class="gap-xs">
    <button mat-stroked-button color="warn" (click)="deleteMeeting()">
      <mat-icon>delete_forever</mat-icon>
      Delete
    </button>
    <button mat-stroked-button color="accent" (click)="updateMeeting()">
      <mat-icon>edit</mat-icon>
      Update
    </button>
  </mat-card-actions>
</mat-card>