*
  box-sizing: border-box
  margin: 0
  padding: 0

.column
  display: flex
  flex-flow: column

.row
  display: flex
  flex-flow: row wrap

.right
  justify-content: flex-end

.gap
  gap: 1rem

.margin
  margin: 1rem
