<mat-toolbar color="accent">
  <span>Update meeting</span>
  <span fxFlex></span>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content>
  <section fxLayout="column" fxFlex="calc(90vw - 96px)" fxFlex.gt-xs="25rem">
    <mat-form-field appearance="outline">
      <mat-label>Meeting Date</mat-label>
      <input #meetingDate matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Annotation</mat-label>
      <textarea #annotation matInput placeholder="..."></textarea>
    </mat-form-field>
  </section>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="end center" class="gap-xs">
  <button mat-button color="warn" (click)="meetingDate.value = ''; annotation.value = '';">Clear</button>
  <button mat-raised-button color="accent" cdkFocusInitial
    (click)="updateMeeting(meeting.id, meetingDate.value, annotation.value)">Update</button>
</mat-dialog-actions>