<mat-toolbar color="accent">
  <span>Update meeting</span>
  <span fxFlex></span>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-dialog-content>
  <form id="oneonone-meeting-update-form" (ngSubmit)="updateMeeting()" [formGroup]="form" fxLayout="column"
    fxFlex="calc(90vw - 96px)" fxFlex.gt-xs="25rem">
    <mat-form-field appearance="outline">
      <mat-label>Meeting Date</mat-label>
      <input formControlName="meetingDate" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('meetingDate')?.hasError('required')">Required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Annotation</mat-label>
      <textarea formControlName="annotation" matInput placeholder="..."></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="end center" class="gap-xs">
  <button mat-button (click)="clear()">
    <mat-icon>clear_all</mat-icon>
    Clear
  </button>
  <button form="oneonone-meeting-update-form" mat-raised-button color="accent" cdkFocusInitial>
    <mat-icon>edit</mat-icon>
    Update
  </button>
</mat-dialog-actions>