.mat-card-actions {

  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button,
  .mat-raised-button {
    margin: 0 !important;
  }
}

.mat-dialog-container {
  padding: 0 !important;

  .mat-dialog-content {
    margin: 0 !important;
    padding: 16px 16px 0 16px !important;
  }

  .mat-dialog-actions {
    padding: 8px !important;
    min-height: 0 !important;
    margin-bottom: 0 !important;

    .mat-button,
    .mat-icon-button,
    .mat-stroked-button,
    .mat-flat-button,
    .mat-raised-button {
      margin: 0 !important;
    }
  }
}